@import '../../styles/variables';
@import '../../../../blue-admin-vue-components/src/Table/Table/Style.scss';
@import '../../../../blue-admin-vue-components/src/Table/CreateButton/Style.scss';

table {
    color: $primary-color;
}

.card-header-bg {
    background-color: $primary-bg-color;
}

.card-header {
    color: $primary-color;
}

.card-body-header {
    background-color: $primary-color;
    border-bottom: 0.1rem solid $primary-color;
}

label p {
    color: $light-color;
}

.active {
    color: $light-color;
}