$primary-color: #333 !default;
$primary-color-lighter: #474747 !default;
$primary-color-light: #5B5B5B !default;
$secondary-color: #f4d010 !default;
$secondary-color-lighter: #F6D93F !default;
$third-color: red !default;
$primary-font-family: "Roboto",sans-serif !default;

$primary-bg-color: white;

$light-color: white;
$light-color2: #f0f0f0;

$topbar-base-height: 70px;
