$primary-color: #000 !default;
$primary-color-lighter: #332E33 !default;
$primary-color-light: #4D4D4D !default;
$secondary-color: #ffc709 !default;
$secondary-color-lighter: #FFD857 !default;
$third-color: $primary-color !default;
$primary-font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !default;

$primary-bg-color: white;

$light-color: white;
