@import '../../styles/variables';
@import '../../../../blue-admin-vue-components/src/Sidebar/Sidebar/Style.scss';

.sidebar-bg-gradient {
    background: $secondary-color;
    font-family: $primary-font-family;
}

.nav-item {
    color: $primary-color;
    transition: background-color 0.5s ease;
    &:hover {
        color: $third-color;
        background-color: $primary-bg-color;
    }
}

hr.sidebar-divider {
    border-top: 1px solid $secondary-color-lighter;
    margin: 0 0 0 1rem;
}

.sidebar {
    background-color: $secondary-color;
    &.toggled {
        #sidebarToggle {
            &::after {
                color: $light-color;
                opacity: 1;
            }
            &:hover {
                color: $primary-color;
                background-color: $primary-color-lighter;
                opacity: 1;
            }
        }
    }
}

#sidebarToggle {
    background-color: $primary-color;
    opacity: 1;

    &::after {
        color: $light-color;
        opacity: 1;
    }

    &:hover {
        background-color: $primary-color-lighter;
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}