ul.navbar-nav.sidebar-bg-gradient.sidebar.accordion(ref='sidebar' v-bind:class='toggledClass')
    hr.sidebar-divider.my-0
    div(
        v-for="navigationLinkGroupSection in navigation_link_group_sections"
    )
        dynamic-component(
            v-bind:component_infos='navigationLinkGroupSection'
        )
        hr.sidebar-divider.my-0
    // Sidebar Toggler (Sidebar)
    .toggler.text-center.mt-3.d-none.d-md-inline(ref='toggler')
        button#sidebarToggle.rounded-circle.border-0
